#landing {
  min-height: 100vh;
  background-image: url("../images/slider.png");
  background-repeat: no-repeat;
  background-size: cover; }
  #landing nav.navbar-inverse {
    background-color: transparent;
    border-color: transparent; }
  #landing nav.navbar-inverse .navbar-nav > .active > a {
    background-color: transparent; }
  #landing nav a {
    margin-left: 1em;
    text-align: right;
    color: #FFFFFF;
    font-weight: lighter;
    font-size: 18px;
    letter-spacing: 2px; }
  #landing nav .navbar-brand {
    text-transform: uppercase;
    color: #B83C3B;
    font-size: 2em;
    font-weight: bold;
    font-family: "Lato";
    letter-spacing: -2px; }
    #landing nav .navbar-brand span {
      font-size: 21px; }
  #landing .carousel-inner {
    position: relative;
    top: 35vh;
    min-height: 50vh; }
    #landing .carousel-inner .constant {
      padding: .3em 0em;
      text-transform: uppercase; }
      #landing .carousel-inner .constant .spring {
        color: #A2A3A7;
        font-size: 1.9em;
        font-family: "Lato";
        font-weight: 100;
        letter-spacing: 9px; }
      #landing .carousel-inner .constant .discount {
        padding: .4em;
        font-weight: bolder;
        color: #FFFFFF;
        font-size: 3em; }
      #landing .carousel-inner .constant .trending {
        color: #A2A3A7;
        font-size: 1.9em;
        font-family: "Lato"; }
  #landing a.btn {
    position: relative;
    color: #FFF;
    border-color: #FFF;
    background-color: inherit;
    text-align: center;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 25px;
    border-style: solid;
    top: 120.5px;
    margin: 0 auto; }

#latest {
  text-align: center;
  padding: 4em 0; }
  #latest h2 {
    text-align: center;
    font-style: italic;
    color: #333;
    margin-bottom: 1em;
    font-weight: 300italics;
    font-family: Lato;
    margin-top: -11px; }
    #latest h2:before {
      content: ' ';
      display: block;
      border: 1px solid red;
      width: 8%;
      margin: 13px auto; }
    #latest h2:after {
      content: ' ';
      display: block;
      border: 1px solid red;
      width: 8%;
      margin: 13px auto; }
  #latest hr {
    background-color: red;
    width: 8em;
    height: 3px;
    position: relative;
    top: -11px; }
  #latest a {
    text-align: center; }
  #latest img {
    outline: 2px solid white;
    outline-offset: -37px; }
  #latest .image-overlay {
    position: relative;
    font-size: 10px; }
  #latest p {
    position: absolute;
    text-align: center;
    top: 47%;
    transform: translateY(-50%);
    font-style: normal;
    font-family: Lato;
    font-size: 44px;
    font-weight: 900;
    margin: 0 auto;
    width: 100%; }
    #latest p a {
      color: #FFFFFF; }
    #latest p a.mens {
      font-size: 35px;
      font-style: italic;
      font-weight: lighter; }
      #latest p a.mens:hover {
        text-decoration: none; }
    #latest p a.womens {
      font-size: 35px;
      font-style: italic;
      font-weight: lighter; }
      #latest p a.womens:hover {
        text-decoration: none; }
    #latest p a.watches {
      font-size: 35px;
      font-style: italic;
      font-weight: lighter; }
      #latest p a.watches:hover {
        text-decoration: none; }
  #latest .pad {
    margin-top: 25px; }
  #latest p.nichey a.autumn {
    text-align: center; }
    #latest p.nichey a.autumn:hover {
      text-decoration: none; }
    #latest p.nichey a.autumn:before {
      content: ' ';
      display: block;
      border: 1px solid #fff;
      width: 50%;
      margin: 6px auto; }
    #latest p.nichey a.autumn::after {
      content: ' ';
      display: block;
      border: 1px solid #fff;
      width: 50%;
      margin: 6px auto; }
  #latest p.nicheyy a.mega_sale {
    text-transform: uppercase;
    text-align: center; }
    #latest p.nicheyy a.mega_sale:hover {
      text-decoration: none; }
    #latest p.nicheyy a.mega_sale:before {
      content: ' ';
      display: block;
      border: 1px solid #fff;
      width: 50%;
      margin: 6px auto; }
    #latest p.nicheyy a.mega_sale:after {
      content: ' ';
      display: block;
      border: 1px solid #fff;
      width: 50%;
      margin: 6px auto; }

#trending {
  background-image: url(../images/trending.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4em 0; }
  #trending h3 {
    text-align: center;
    font-style: italic;
    color: #333;
    margin-bottom: 1em;
    font-weight: 300italics;
    font-family: Lato;
    margin-top: -11px;
    font-size: 28px; }
    #trending h3:before {
      content: ' ';
      display: block;
      border: 1px solid red;
      width: 8%;
      margin: 13px auto; }
    #trending h3:after {
      content: ' ';
      display: block;
      border: 1px solid red;
      width: 8%;
      margin: 13px auto; }
  #trending .shift {
    margin-left: 0px;
    margin-bottom: -17px; }
    #trending .shift h4.nathan {
      color: red;
      font-size: 24px;
      text-transform: uppercase;
      font-weight: bolder; }
    #trending .shift p.trending_nate {
      color: #A2A3A7;
      font-size: 1.4em;
      font-family: "Lato";
      font-weight: 800; }
      #trending .shift p.trending_nate .span {
        font-weight: bolder; }
    #trending .shift a.size {
      position: relative;
      color: black;
      border-color: grey;
      background-color: inherit;
      text-align: center;
      text-transform: uppercase;
      font-weight: bolder;
      font-size: 15px;
      border-radius: 0em;
      border-style: solid;
      top: 53.5px;
      margin: 0 auto;
      margin-right: 2em;
      margin-top: 3em; }
  #trending .pind {
    position: relative;
    top: 44em; }
    #trending .pind li.active {
      background-color: red; }
    #trending .pind li {
      background-color: grey; }
  #trending a.action {
    position: relative;
    color: black;
    border-color: grey;
    background-color: inherit;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 15px;
    border-radius: 0em;
    border-style: solid;
    top: 53.5px;
    margin: 0 auto;
    margin-right: 2.4em;
    margin-top: 3em; }

#blog {
  padding: 4em 0; }
  #blog h5 {
    text-align: center;
    font-style: italic;
    color: #333;
    margin-bottom: 1em;
    font-weight: 300italics;
    font-family: Lato;
    margin-top: -11px;
    font-size: 28px; }
    #blog h5:before {
      content: ' ';
      display: block;
      border: 1px solid red;
      width: 8%;
      margin: 13px auto; }
    #blog h5:after {
      content: ' ';
      display: block;
      border: 1px solid red;
      width: 8%;
      margin: 13px auto; }
  #blog h6.german {
    color: red;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bolder;
    margin-top: 1em; }
  #blog h6.anne {
    color: red;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bolder;
    margin-top: 1em; }
  #blog p.germfash {
    color: #A2A3A7;
    font-size: 18px;
    font-family: "Lato";
    font-weight: lighter; }
    #blog p.germfash:before {
      content: ' ';
      display: block;
      border: 1px solid #EEEEEE;
      width: 100%;
      margin: 16px auto; }
    #blog p.germfash:after {
      content: ' ';
      display: block;
      border: 1px solid #EEEEEE;
      width: 100%;
      margin: 16px auto; }
  #blog p.germ {
    color: #A2A3A7;
    font-size: 15px;
    font-family: "Lato";
    font-weight: 800; }
  #blog a.action {
    position: relative;
    color: black;
    border-color: grey;
    background-color: inherit;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 13px;
    border-radius: 0em;
    border-style: solid;
    top: -40px;
    margin: 0 auto;
    margin-right: 2.4em;
    margin-top: 3em; }

#subscribe {
  padding: 4em 0;
  background-image: url(../images/subscribe.png);
  background-size: cover; }
  #subscribe h7 {
    text-transform: uppercase;
    color: #A2A3A7;
    font-size: 18px;
    font-family: "Lato";
    font-weight: 200; }
  #subscribe .form-inline .form-control {
    width: 100%;
    background-color: transparent;
    margin-top: 1em;
    position: relative;
    text-align: left;
    border-radius: 0px;
    margin-top: 2em; }
  #subscribe .btn-default {
    margin-top: 2.5em;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    border-radius: 0px;
    padding: 9px 51px;
    font-weight: bolder; }
  #subscribe input[type="email"] {
    height: 4em; }
  #subscribe .fa-envelope-o {
    position: inherit;
    top: -36px;
    right: -16px;
    color: white; }

#footer footer .row {
  margin-bottom: 0; }
#footer .col-md-12 {
  width: 100%; }
#footer .ending {
  color: #777;
  text-align: center;
  text-transform: uppercase;
  padding: 3em; }

/*# sourceMappingURL=brain.css.map */
