#landing {
  min-height: 100vh;
// padding-top: 3em;

  background-image: url('../images/slider.png');
  background-repeat: no-repeat;
  background-size: cover;

  // position: fixed;
  // top: 0;
  // left: 0;
  // min-width: 100%;
  // min-height: 100%;

  nav {
    &.navbar-inverse  {
    background-color: transparent;
    border-color: transparent;
    }

  &.navbar-inverse .navbar-nav>.active>a {
    background-color: transparent;
  }

  a {
    margin-left: 1em;
    text-align: right;
    color: #FFFFFF;
    font-weight: lighter;
    font-size: 18px;
    letter-spacing: 2px;
    }

  .navbar-brand {
    text-transform: uppercase;
    color: #B83C3B;
    font-size: 2em;
    font-weight: bold;
    font-family: "Lato";
    letter-spacing: -2px;

    span {
      font-size: 21px;
    }
  }

  }

.carousel-inner {

    position: relative;
    top: 35vh;
    min-height: 50vh;

  .constant{

      padding: .3em 0em;
      text-transform: uppercase;

      .spring {
        color: #A2A3A7;
        font-size: 1.9em;
        font-family: "Lato";
        font-weight: 100;
        letter-spacing: 9px;
      }

      .discount {
        padding: .4em;
        font-weight: bolder;
        color: #FFFFFF;
        font-size: 3em;
      }

      .trending {
        color: #A2A3A7;
        font-size: 1.9em;
        font-family: "Lato";
      }
  }
  }

  .carousel-slide {
    //
    // position: relative;
    // height: 10em;

    a.btn {
      position: relative;
      color: #FFF;
      border-color: #FFF;
      background-color: inherit;
      text-align: center;
      text-transform: uppercase;
      font-weight: lighter;
      font-size: 25px;
      border-style: solid;
      top: 7.5vh;
      margin: 0 auto;
      }

    .carousel-indicators {
    //  margin: 0;
    //   position: absolute;
    //  top: 50%;
    //  left: 50%;
    //  margin-right: -50%;
    //  transform: translate(-50% -50%);
    }
  }
}
