#latest {
  text-align: center;
  padding: 4em 0;
  height: 50vh;

  h2 {
    text-align: center;
    font-style: italic;
    color: #333;
    margin-bottom: 1em;
    font-weight: 300italics;
    font-family: Lato;
    margin-top: -11px;
  }

  hr {
    background-color: red;
    width: 8em;
    height: 3px;
    position: relative;
    top: -11px;
  }

  a {
    text-align: center;

  }

  img {
    outline: 2px solid white;
    outline-offset: -37px;
  }

  .image-overlay {
    position: relative;
    font-size: 10px;
  }

  p {
    position: absolute;
    text-align: center;
    top: 47%;
    transform: translateY(-50%);
    font-style: normal;
    font-family: Lato;
    font-size: 44px;
    font-weight:900;
    margin: 0 auto;
    width: 100%;

    a {
      color: #FFFFFF;
    }

    a.mens {
      font-size: 35px;
      &:hover {
        text-decoration: none;
      }
    }

    a.womens {
      font-size: 35px;
      &:hover {
        text-decoration: none;
      }
    }

    a.watches {
      font-size: 35px;
      &:hover {
        text-decoration: none;
      }
    }
  }

  .pad {
    margin-top: 25px;
  }

  p.nichey {

    a.autumn {
      text-align: center;
      &:hover {
        text-decoration: none;
      }
      &:before{
        content: ' ';
        display: block;
        border: 1px solid #fff;
        width: 50%;
        margin: 6px auto;
      }
      &::after{
        content: ' ';
        display: block;
        border: 1px solid #fff;
        width: 50%;
        margin: 6px auto;
      }
    }
  }

  p.nicheyy {
    a.mega_sale {
      text-transform: uppercase;
      text-align: center;
      &:hover {
      text-decoration: none;
      }
      &:before{
        content: ' ';
        display: block;
        border: 1px solid #fff;
        width: 50%;
        margin: 6px auto;
      }
      &::after{
        content: ' ';
        display: block;
        border: 1px solid #fff;
        width: 50%;
        margin: 6px auto;
      }
    }
  }
}
