#subscribe {
  padding: 4em 0;
  background-image:url(../images/subscribe.png);
  background-size: cover;

  h7 {
  text-transform: uppercase;
  color: #A2A3A7;
  font-size: 18px;
  font-family: "Lato";
  font-weight:200;
  }

  .form-inline .form-control {
      width: 100%;
      background-color: transparent;
      margin-top: 1em;
      position: relative;
      text-align: left;
      border-radius: 0px;
      margin-top: 2em;
    }

  .btn-default {
    margin-top: 2.5em;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    border-radius: 0px;
    padding: 9px 51px;
    font-weight: bolder;
  }

  input[type="email"] {
    height: 4em;
  }

  .fa-envelope-o {
    position: inherit;
    top: -36px;
    right: -16px;
    color: white;
  }
}
