#subscribe {
  padding: 4em 0;
  background-image:url(../images/subscribe.png);
  background-size: cover;

  h7 {
  text-transform: uppercase;
  color: #A2A3A7;
  font-size: 18px;
  font-family: "Lato";
  font-weight:200;
  }
}
