#trending  {
  background-image: url(../images/trending.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4em 0;

  h3 {
    text-align: center;
    font-style: italic;
    color: #333;
    margin-bottom: 1em;
    font-weight: 300italics;
    font-family: Lato;
    margin-top: -11px;
    font-size: 28px;

    &:before {
      content: ' ';
      display: block;
      border: 1px solid red;
      width: 8%;
      margin: 13px auto;
    }
    
    &:after {
      content: ' ';
      display: block;
      border: 1px solid red;
      width: 8%;
      margin: 13px auto;
    }
  }

  .shift {
    margin-left: 0px;
    margin-bottom: -17px;

    h4.nathan {
      color: red;
      font-size: 24px;
      text-transform: uppercase;
      font-weight: bolder;
    }

    p.trending_nate {
      color: #A2A3A7;
      font-size: 1.4em;
      font-family: "Lato";
      font-weight:500;
      // letter-spacing: 9px;

      .span {
        font-weight: bolder;
      }
    }
    a.size {
      position: relative;
      color: black;
      border-color: grey;
      background-color: inherit;
      text-align: center;
      text-transform: uppercase;
      font-weight: bolder;
      font-size: 15px;
      border-radius: 0em;
      border-style: solid;
      top: 53.5px;
      margin: 0 auto;
      margin-right: 2em;
      margin-top: 3em;

      &:hover {
        background-color: black;
        color: white;
      }
    }
  }

  .pind {
    position: relative;
    top: 44em;
    // min-height: 50vh;

    li.active {
      background-color: red;
    }

    li {
      background-color: grey;
    }
  }

  a.action {
    position: relative;
    color: black;
    border-color: grey;
    background-color: inherit;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 15px;
    border-radius: 0em;
    border-style: solid;
    top: 53.5px;
    margin: 0 auto;
    margin-right: 2.4em;
    margin-top: 3em;

    &:hover {
      background-color: black;
      color: white;
    }
  }
}
